// Fonts
@import url('https://fonts.googleapis.com/css?family=Radley:400,400i,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.strong-font {
    font-family: 'Bree Serif';
}
