<template>
    <div id="headerWrapper">
        <div id="headerProper">
            <div id=breadcrumb>
                <span v-if="scene > 1" class="textTitleSmall">{{ textTitle }} <span v-if="textTranslator" class="textTranslatorSmall">(ford. {{ textTranslator }})</span> / {{ actTitle }}</span>
                <span v-else-if="act > 1" class="textTitleSmall">{{ textTitle }} <span v-if="textTranslator" class="textTranslatorSmall">(ford. {{ textTranslator }})</span></span>
            </div>
            <div id="navElements">
                <a @click="navigateBackAct" href="#">&lt;&lt;</a>
                <a @click="navigateBackScene" href="#">&lt;</a>
                <a @click="navigateForwardScene" href="#">&gt;</a>
                <a @click="navigateForwardAct" href="#">&gt;&gt;</a>
            </div>
        </div>
        <div id="headingContainer">
            <div v-if="scene > 1">
                <h3 class="sceneTitle">{{ sceneTitle }}</h3>
            </div>
            <div v-else-if="act > 1">
                <h2 class="actTitle">{{ actTitle }}</h2>
                <h3 class="sceneTitle">{{ sceneTitle }}</h3>
            </div>
            <div v-else>
                <h1 class="textTitle">{{ textTitle }}</h1>
                <p v-if="textTranslator" class="textTranslator">Fordította {{ textTranslator }}</p>
                <h2 class="actTitle">{{ actTitle }}</h2>
                <h3 class="sceneTitle">{{ sceneTitle }}</h3>
            </div>
        </div>
    </div>
</template>

<style>
    #headerWrapper {
        display: flex;
        flex-flow: column nowrap;
    }
    #headerProper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1em;
    }
    #navElements {
        display: flex;
        flex-flow: row nowrap;
    }
    #navElements a {
        margin-left: 0.5em;
    }
    #navElements a:link,
    #navElements a:visited,
    #navElements a:hover,
    #navElements a:active
    {
        text-decoration: none;
    }
    #headingContainer {
        padding-left: 27px;
    }
    .textTitle, .textTranslator, .actTitle, .sceneTitle {
        text-align: center;
    }
    .textTranslator, .textTranslatorSmall {
        font-style: italic;
    }
</style>

<script>
    export default {
        props: ['act', 'scene', 'textTitle', 'textTranslator', 'actTitle', 'sceneTitle'],
        data() { return {}; },
        methods: {
            navigateBackAct(e) {
                this.$emit('navigate', {'move':'jump_backward'});
                e.preventDefault();
                e.stopPropagation();
            },
            navigateBackScene(e) {
                this.$emit('navigate', {'move':'step_backward'});
                e.preventDefault();
                e.stopPropagation();
            },
            navigateForwardAct(e) {
                this.$emit('navigate', {'move':'jump_forward'});
                e.preventDefault();
                e.stopPropagation();
            },
            navigateForwardScene(e) {
                this.$emit('navigate', {'move':'step_forward'});
                e.preventDefault();
                e.stopPropagation();
            }
        }
    }
</script>
