<template>
    <div :id="'r' + id" class="rowWrapper" :class="rowContentType">
        <div :id="'n' + id" class="rowNumber" :class="visible">{{ num }}</div>
        <div :id="'p' + id" class="rowContent" :class="rowContentType">
            <span v-for="chunk in chunks"
                :key="'s' + chunk.id"
                :id="'s' + chunk.id"
                class="contentChunk"
                :class="chunk.type">
                {{ chunk.text }}
            </span>
        </div>
    </div>
</template>

<style>
    .rowWrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }
    .rowNumber {
        visibility: hidden;
        flex: 0 0 27px;
        margin-right: 0;
        font-size: 75%;
    }
    .rowWrapper.inst {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .rowWrapper.inst + .rowWrapper.inst {
        padding-top: 0;
    }
    .rowContent.verse {
        -ms-text-align: justify; /* IE allows text-align-last with this value */
        text-align-last: right;
    }
    .rowContent.inst {
        width: 100%;
        text-align: left;
    }
    .contentChunk.spkr {
        font-weight: bold;
    }
    .contentChunk.mins, .contentChunk.inst {
        font-style: italic;
    }
    .contentChunk.text::first-child, .contentChunk.mins::first-child {
        padding-left: 1em;
        border: 1px red solid;
    }
</style>

<script>
    export default {
        props: ['id', 'num', 'chunks'],
        data() { return { }; },
        computed: {
            rowContentType() {
                var type = this.chunks[0].type;
                var length = 0;
                this.chunks.forEach(c => {
                    length += c.text.length;
                });
                return ((type == 'mins' || type == 'text') && length < 60) ? 'verse' : type;
            },
            visible() {
                return this.num % 5 == 0 ? 'visible' : '';
            },
        },
        mounted() {
            // Áttört sor folytatásakor használt változó behúzás
            var chunk = this.chunks[0];
            if (chunk.indentId) {
                $('#s' + chunk.id).css('margin-left', '' + Math.floor($('#p' + chunk.indentId).width()) + 'px');
            }
        }
    }
</script>
