<template>
    <div>
        <div id="backLinkBar" class="pl-4">
            <a href="" @click="goToFrontPage($event)" class="yellow-text">Vissza a főoldalra</a>
        </div>

        <h3 class="pt-4 px-4">Shakespeare-adaptációk</h3>
        <div class="accordion p-4" id="accordionExample">
            <div :id="'heading_' + i" v-for="drama, i in dramas">
                <a class="" data-toggle="collapse" :href="'#collapse_' + i" role="button" aria-expanded="false" :aria-controls="'collapse_' + i">
                    {{ drama.title }}
                </a>
                <ul :id="'collapse_' + i" class="collapse" :aria-labelledby="'heading_' + i" data-parent="#accordionExample">
                    <li v-for="adaptation in drama.adaptations">
                        <a :href="adaptation.url" target="_blank">{{ adaptation.title }} ({{ adaptation.director }}, {{ adaptation.year }}, {{ adaptation.duration }})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style>
    a, a:link, a:visited, a:active {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    #backLinkBar {
        margin-top: 3pt;
        margin-bottom: 3pt;
        background-color: #806020;
        text-transform: uppercase;
        text-align: left;
    }
    .yellow-text {
        color: gold !important;
    }
</style>

<script>
    import dramas from './a_joined_json.js'

    export default {
        data() {
            return {
                dramas: []
            };
        },
        created() {
            this.dramas = dramas;
        },
        methods: {
            goToFrontPage(e) {
                this.$emit('mainmenu', { 'menuItem': '' });
                e.preventDefault();
                e.stopPropagation();
            }
        }
    }
</script>
