<template>
    <div>
        <div id="welcomeBar">
            <span>Szeretettel köszöntjük</span>
            <span>&#9753;</span>
            <span>Welcome</span>
        </div>

        <div id="dunakeszi" class="p-4">
            <div id="smallScreenFriendly">
                <div class="title mb-1">Szeretettel köszöntjük<br />a Magyar Shakespeare Olvasó felületen!</div>
                <div id="imagePanel-small"></div>
                <div class="title my-2">Welcome to the Hungarian<br />Shakespeare Reader!</div>
                <div class="linkUl pl-4 pb-4">
                    <li v-for="item in menuItems"><a href="" v-html="item.text" @click="GoToMenu(item.name, $event)"></a></li>
                </div>
                <div class="man" v-html="disclaimer"></div>
            </div>
            <div id="bigScreenFriendly">
                <div id="imagePanel-big"></div>
                <div id="textPanel">
                    <div class="title">Szeretettel köszöntjük<br />a Magyar Shakespeare Olvasó felületen!</div>
                    <div class="title">Welcome to the Hungarian Shakespeare Reader!</div>
                    <div class="linkUl pl-4">
                        <li v-for="item in menuItems"><a href="" v-html="item.text" @click="GoToMenu(item.name, $event)"></a></li>
                    </div>
                    <div class="man" v-html="disclaimer"></div>
                </div>
            </div>
        </div>
        <div id="linkList" class="px-4 pb-4">
            <p>Kapcsolódó anyagok</p>
            <ul class="linkUl">
                <li v-for="link in links">
                    <span v-if="link.group">{{ link.group }}<ul>
                        <li v-for="item in link.links"><a :href="item.url" v-html="item.text" target="_blank"></a></li>
                    </ul></span>
                    <a v-else :href="link.url" v-html="link.text" target="_blank"></a>
                </li>
            </ul>
        </div>
        <div class="credits pb-2">
            <div>Projektvezető: <span class="text-nowrap">Fabiny Tibor</span></div>
            <div>Szoftverfejlesztés: <span class="text-nowrap">Király Levente Zoltán</span></div>
            <div>Grafika: <span class="text-nowrap">Orosz István</span></div>
        </div>
        <div class="credits">
            <div></div>
            <div><span class="text-nowrap">2019–2020</span></div>
            <div></div>
        </div>
    </div>
</template>

<style>
    a, a:link, a:visited, a:active {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    #dunakeszi {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    #welcomeBar {
        flex: 1;
        align-self: center;
        margin-top: 3pt;
        margin-bottom: 3pt;
        background-color: #806020;
        color: gold;
        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;
    }

    #dunakeszi {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    #smallScreenFriendly {
        display: flex;
        flex-direction: column;
    }
    #bigScreenFriendly {
        display: none;
        flex-flow: row nowrap;
    }
    .credits {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 66%;
    }

    #imagePanel-small, #imagePanel-big {
        align-self: center;
        background-color: #fff8e8;
        background-image: url('/orosz_i_nocol.jpg');
        background-blend-mode: multiply;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 0;
        padding-bottom: 50%;
    }
    #imagePanel-small {
        margin: 1rem 0;
        width: 40%;
    }
    #imagePanel-big {
        flex: 0 0 40%;
        margin-right: 2rem;
    }
    #textPanel {
        padding-top: 2rem;
    }
    #textPanel>* {
        margin-bottom: 1.5rem;
    }

    @media only screen and (min-width: 768px) {
        #smallScreenFriendly {
            display: none;
        }
        #bigScreenFriendly {
            display: flex;
        }
        .credits {
            justify-content: center;
        }
        .credits>* {
            margin: 0 1rem;
        }
    }

    .title {
        padding-bottom: 0.5rem;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
    }
    .man {
        text-align: justify;
        margin-bottom: 1rem;
    }
    #linkList {
        flex: 1 0 auto;
    }
    .linkUl>li {
        list-style-image: none;
        list-style-type: none;
    }
    .linkUl>li:before {
        content: '\2767';
        margin-left: -1rem;
        margin-right: 0.5rem;
    }
</style>

<script>
    export default {
        data() {
            return {
                menuItems: [
                    {
                        'name': 'reader',
                        'text': 'Belépés az olvasóba'
                    },
                    {
                        'name': 'cinema',
                        'text': 'Shakespeare-adaptációk linkgyűjteménye'
                    }
                ],
                disclaimer: 'Felhívjuk a figyelmet, hogy honlapunkon csak 1949 előtt készült – azaz klasszikusnak mondható – magyar fordítások szerepelnek.',
                links: [
                    {
                        'url': "https://mashakespearebizottsag.wordpress.com/",
                        'text': 'Magyar Shakespeare Bizottság',
                    },
                    {
                        'url': "https://www.folgerdigitaltexts.org/mobile/",
                        'text': 'Folger Digital Texts',
                    },
                    {
                        'url': "http://shakespeare.mit.edu/",
                        'text': 'MIT Shakespeare\'s Complete Works',
                    },
                    {
                        'url': "https://www.shakespearestudyguide.com",
                        'text': 'The Shakespeare Study Guide',
                    },
                    {
                        'url': "https://www.oxfordscholarship.com/view/10.1093/acprof:oso/9780199677610.001.0001/acprof-9780199677610",
                        'text': 'Hannibal Hamlin, <i>The Bible in Shakespeare,</i> Oxford, 2013'
                    },
                    {
                        'url': "https://boap.uib.no/index.php/emco",
                        'text': "Early Modern Culture Online"
                    },
                    {
                        'group': 'Személyes honlapok',
                        'links': [
                            {
                                'url': "http://renstudhun.blogspot.com",
                                'text': 'Almási Zsolt: Reneszánsz angol kultúra a digitális térben',
                            },
                            {
                                'url': "https://fabinytibor.eu",
                                'text': 'Fabiny Tibor honlapja',
                            },
                            {
                                'url': "https://utisz-utisz.blogspot.com/",
                                'text': 'Orosz István blogja',
                            },
                            {
                                'url': "https://rechnitzer-kodex.hu/",
                                'text': 'Király Levente Zoltán Rohonci kódex-projektje'
                            },
                        ]
                    },
                ]
            };
        },
        methods: {
            GoToMenu(menuItem, e) {
                this.$emit('mainmenu', { 'menuItem': menuItem });
                e.preventDefault();
                e.stopPropagation();
            }
        }
    }
</script>
