<template>
    <div class="p-4">
        <div id="textWrapper"
            v-touch:swipe="Navigate">
            <heading
                :act="act"
                :scene="scene"
                :text-title="textTitle"
                :text-translator="textTranslator"
                :act-title="actTitle"
                :scene-title="sceneTitle"
                @navigate="Navigate">
            </heading>

            <div v-for="rowblock in rows">
                <row-wrapper v-for="(row, id) in rowblock"
                    :key="id"
                    :id="id"
                    :num="row.num"
                    :chunks="row.chunks">
                </row-wrapper>
            </div>
        </div>
    </div>
</template>

<style>
    #textWrapper {
        display: flex;
        flex-flow: column;
    }
</style>

<script>
    export default {
        props: ['text_id', 'textTitle', 'textTranslator', 'textUnits', 'act', 'scene'],
        data() {
            return {
                data: {
                    actTitle: '',
                    sceneTitle: ''
                },
                move:''
            };
        },
        computed: {
            locusId() {
                return this.text_id + ' ' + this.act + ' ' + this.scene;
            },
            actTitle() {
                return this.data.actTitle;
            },
            sceneTitle() {
                return this.data.sceneTitle;
            },
            rows() {
                return this.data.rows;
            }
        },
        watch: {
            locusId: function() {
                this.LoadText();
            }
        },
        created() {
            this.LoadText();
            document.addEventListener('keyup', this.KeyGrabber);
        },
        destroyed() {
            document.removeEventListener('keyup', this.KeyGrabber);
        },
        methods: {
            LoadText() {
                if (this.act == '' || this.scene == '') {
                    this.EmitNewLocus(
                        this.act == '' ? 1 : this.act,
                        this.scene == '' ? 1 : this.scene);
                    return;
                }
                axios.get('/api/Lookup/' + this.text_id, {
                    params: {
                        act: this.act,
                        scene: this.scene
                    }
                })
                .then((response) => {
                    this.data = response.data;
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                        // https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
                })
                .catch((error) => {
                    console.error(error);
                });
            },
            Navigate(nav) {
                this.move = (typeof nav == 'object' && nav.move !== 'undefined') ? nav.move : nav;
                var newScene;
                switch (this.move) {
                    case 'step_forward':
                    case 'left': // (touch value for 'swipe left')
                        newScene = this.scene + 1;
                        if (
                            typeof this.textUnits[this.act] !== 'undefined'
                            && this.textUnits[this.act].includes(newScene)
                        ) {
                            this.EmitNewLocus(this.act, newScene);
                        } else if (Object.keys(this.textUnits).includes('' + (this.act + 1))) {
                            this.EmitNewLocus(this.act + 1, Math.min(...this.textUnits[this.act + 1]));
                        }
                        break;
                    case 'step_backward':
                    case 'right': // (touch value for 'swipe right')
                        newScene = this.scene - 1;
                        if (
                            typeof this.textUnits[this.act] !== 'undefined'
                            && this.textUnits[this.act].includes(newScene)
                        ) {
                            this.EmitNewLocus(this.act, newScene);
                        } else if (Object.keys(this.textUnits).includes('' + (this.act - 1))) {
                            this.EmitNewLocus(this.act - 1, Math.max(...this.textUnits[this.act - 1]));
                        }
                        break;
                    case 'jump_forward':
                        if (Object.keys(this.textUnits).includes('' + (this.act + 1))) {
                            this.EmitNewLocus(this.act + 1, 1);
                        } else if (this.scene != Math.max(...this.textUnits[this.act])) {
                            this.EmitNewLocus(this.act, Math.max(...this.textUnits[this.act]));
                        }
                        break;
                    case 'jump_backward':
                        if (this.scene != Math.min(...this.textUnits[this.act])) {
                            this.EmitNewLocus(this.act, Math.min(...this.textUnits[this.act]));
                        } else if (Object.keys(this.textUnits).includes('' + (this.act - 1))) {
                            this.EmitNewLocus(this.act - 1, Math.min(...this.textUnits[this.act - 1]));
                        }
                        break;
                }
            },
            EmitNewLocus(act, scene) {
                this.data = {};
                this.$emit('navigate', {
                    'act': act,
                    'scene': scene,
                });
            },
            KeyGrabber(e) {
                if(e.keyCode == 39) {
                    this.Navigate('step_forward'); // jobbra nyíl
                }
                if(e.keyCode == 37) {
                    this.Navigate('step_backward'); // balra nyíl
                }
            }
        }
    }
</script>
