<template>
    <div>
        <search-bar
            :text_id="locus.text_id"
            :act="locus.act"
            :scene="locus.scene"
            :am="am"
            @lookup="lookUpText"
            @search="search"
            @gotofrontpage="goToFrontPage">
        </search-bar>
        <lookup
            v-if="displayScreen == 'lookup' && locus.text_id != ''"
            :text_id="locus.text_id"
            :act="locus.act"
            :scene="locus.scene"
            :text-title="textTitle"
            :text-translator="textTranslator"
            :text-units="textUnits"
            @navigate="navigate">
        </lookup>
        <search
            v-else-if="displayScreen == 'search'"
            :search-query="searchQuery"
            @lookup="lookUpText">
        </search>
        <welcome
            v-else>
        </welcome>
    </div>
</template>

<style>
</style>

<script>
export default {
    props: ['am'],
    data() {
        return {
            displayScreen: 'welcome',
            locus: {
                text_id: '',
                act: '',
                scene: '',
            },
            textTitle: '',
            textTranslator: '',
            textUnits: [],
            searchQuery: ''
        };
    },
    methods: {
        lookUpText(data) {
            this.locus = data.locus;
            this.textTitle = data.textTitle;
            this.textTranslator = data.textTranslator;
            this.textUnits = data.textUnits;
            this.displayScreen = 'lookup';
        },
        navigate(locus) {
            this.locus.act = locus.act;
            this.locus.scene = locus.scene;
        },
        search(data) {
            this.searchQuery = data.q;
            this.displayScreen = 'search';
        },
        goToFrontPage() {
            this.$emit('mainmenu', { 'menuItem': '' });
        }
    }
}
</script>
