<template>
    <div id="searchbar" class="py-2">
        <!-- MOBILE SEARCH BAR -->
        <div id="searchbarNarrow" class="narrow-content-width d-flex d-md-none flex-column">
            <div class="d-flex justify-content-between px-1">
                <a href="" @click="goToFrontPage($event)" class="backlink-text yellow-text">Viisza a főoldalra</a>
                <span>&#9776;</span>
            </div>
            <form id="lookupForm" class="d-flex flex-wrap justify-content-between p-1">
                <select v-model="lookup_text_id" name="text_id" id="lookupTextId" @change="onTextChange" class="form-control form-control-sm" style="flex: 1 0 100%;">
                    <option selected disabled="disabled" value="">Műcím</option>
                    <optgroup v-for="(w, l) in lookup_texts" :label="l">
                        <option v-for="t in w" :key="t.id" :value="t.id">{{ computedOption(t.title, t.translator) }}</option>
                    </optgroup>
                </select>
                <div class="d-flex flex-row">
                    <select v-model="lookup_act" name="act" id="lookupAct" @change="onActChange" class="form-control form-control-sm p-1 my-1 mr-1">
                        <option selected disabled="disabled" value="">Felvonás</option>
                        <option v-for="a in lookup_acts" :key="a" :value="a">{{ a }}</option>
                    </select>
                    <select v-model="lookup_scene" name="scene" id="lookupScene" class="form-control form-control-sm m-1">
                        <option selected disabled="disabled" value="">Szín</option>
                        <option v-for="s in lookup_scenes" :key="s" :value="s">{{ s }}</option>
                    </select>
                </div>
                <button id="lookupButton" @click="requestLookup" class="btn btn-outline-secondary btn-sm m-1">&#128065;</button>
            </form>
            <form id="searchForm" class="d-flex flex-row flex-nowrap justify-content-center">
                <input v-model="searchQuery" type="text" name="searchQuery" id="searchQuery" placeholder="Keresés" class="form-control form-control-sm my-1" />
                <button id="searchButton" @click="startSearch" class="btn btn-outline-secondary btn-sm m-1 yellow-text">&#128270;</button>
            </form>
        </div>

        <!-- DESKTOP SEARCH BAR -->
        <div id="searchbarWide" class="wide-content-width d-none d-md-flex justify-content-around">
            <div class="d-flex flex-column justify-content-center">
                <a href="" @click="goToFrontPage($event)" class="backlink-text yellow-text">Viisza<br />a főoldalra</a>
            </div>
            <form id="lookupForm" class="d-flex justify-content-center">
                <select v-model="lookup_text_id" name="text_id" id="lookupTextId" @change="onTextChange" class="form-control form-control-sm m-1">
                    <option selected disabled="disabled" value="">Műcím</option>
                    <optgroup v-for="(w, l) in lookup_texts" :label="l">
                        <option v-for="t in w" :key="t.id" :value="t.id">{{ computedOption(t.title, t.translator) }}</option>
                    </optgroup>
                </select>
                <select v-model="lookup_act" name="act" id="lookupAct" @change="onActChange" class="form-control form-control-sm p-1 mx-0 my-1">
                    <option selected disabled="disabled" value="">Felvonás</option>
                    <option v-for="a in lookup_acts" :key="a" :value="a">{{ a }}</option>
                </select>
                <select v-model="lookup_scene" name="scene" id="lookupScene" class="form-control form-control-sm m-1">
                    <option selected disabled="disabled" value="">Szín</option>
                    <option v-for="s in lookup_scenes" :key="s" :value="s">{{ s }}</option>
                </select>
                <button id="lookupButton" @click="requestLookup" class="btn btn-outline-secondary btn-sm m-1">&#128065;</button>
            </form>
            <form id="searchForm" class="d-flex flex-nowrap">
                <input v-model="searchQuery" type="text" name="searchQuery" id="searchQuery" placeholder="Keresés" class="form-control form-control-sm my-1" />
                <button id="searchButton" @click="startSearch" class="btn btn-outline-secondary btn-sm m-1 yellow-text">&#128270;</button>
            </form>
        </div>
    </div>
</template>

<style>
    #searchbar {
        position: sticky; top: 0px;

        flex: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;

        margin-top: 3px;
        background: #806020;
        color: yellow;

        z-index: 1;
        -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
    }
    .backlink-text {
        font-size: 80%;
        text-transform: uppercase;
    }
    .yellow-text {
        color: gold !important;
    }
    #lookupForm {
        border-radius: 5px;
        background: #c0b090;
        -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
    }
    #lookupTextId {
         width: 240px;
    }
    #lookupAct {
        width: 80px;
    }
    #lookupScene {
        width: 66px;
    }
    #searchQuery {
        width: 120px;
    }
    button {
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    }
</style>

<script>
    export default {
        props: ['text_id', 'act', 'scene', 'am'],
        data() {
            return {
                'lookup_text_id': '',
                'lookup_act': '',
                'lookup_scene': '',
                'lookup_texts': {},
                'textUnits': [],
                'searchQuery': '',
                'texts': [],
            };
        },
        mounted() {
            axios.get('/api/TextTitles' + (this.am === 'norestrict' ? '/norestrict' : ''))
                .then(response => {
                    this.lookup_texts = response.data;
                    Object.values(this.lookup_texts).forEach(w => {
                        w.forEach(t => {
                            this.texts.push(t);
                        });
                    });
                })
                .catch(function(error) {
                    console.error(error);
                });
        },
        computed: {
            lookup_acts: function() {
                var newActs = [];
                for (var key in this.textUnits) {
                    newActs.push(parseInt(key));
                }
                return newActs;
            },
            lookup_scenes: function() {
                return this.lookup_acts.includes(this.lookup_act)
                    ? this.textUnits[this.lookup_act]
                    : [];
            },
        },
        watch: {
            lookup_acts: function(val) {
                if(this.lookup_act != '' && !val.includes(this.lookup_act)) {
                    this.lookup_act = '';
                }
            },
            lookup_scenes: function(val) {
                if(this.lookup_scene != '' && !val.includes(this.lookup_scene)) {
                    this.lookup_scene = '';
                }
            },
            text_id: function(val) {
                this.lookup_text_id = val;
                this.onTextChange();
            },
            act: function(val) {
                this.lookup_act = val;
                this.onActChange();
            },
            scene: function(val) {
                this.lookup_act = this.act;
                this.lookup_scene = val;
            }        },
        methods: {
            onTextChange: function(e) {
                axios.get('/api/TextUnits/' + this.lookup_text_id)
                    .then(response => {
                        this.textUnits = response.data;
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            },
            computedOption(title, translator) {
                return title + (translator == null ? '' : ' (ford. ' + translator + ')');
            },
            onActChange: function(e) {
                if (!this.lookup_scenes.includes(this.lookup_scene)) {
                    this.lookup_scene = '';
                }
            },
            requestLookup: function(e) {

                this.$emit('lookup', {
                    'locus': {
                        'text_id': this.lookup_text_id,
                        'act': this.lookup_act,
                        'scene': this.lookup_scene
                    },
                    'textTitle': this.texts.find(text => text.id == this.lookup_text_id).title,
                    'textTranslator': this.texts.find(text => text.id == this.lookup_text_id).translator,
                    'textUnits': this.textUnits,
                });
                e.preventDefault();
                e.stopPropagation();
            },
            startSearch: function(e) {
                if (this.searchQuery.length > 3) {
                    this.$emit('search', { 'q': this.searchQuery });
                } else {
                    alert("A keresőkifejezésnek hosszabbnak kell lennie, mint három karakter!");
                }
                e.preventDefault();
                e.stopPropagation();
            },
            goToFrontPage(e) {
                this.$emit('gotofrontpage');
                e.preventDefault();
                e.stopPropagation();
            }
        }
    }
</script>
