<template>
    <div class="p-4">
        <p>Keresés eredménye a <span class="searchQuery">„{{ searchQuery }}”</span> kifejezésre:</p>
        <div v-if="resultsHaveCome">
            <p v-if="searchResults.length == 0">Nincs találat.</p>
            <div v-else class="resultsContainer">
                <p class="resultsLength">{{ searchResults.length }} találat:</p>
                <div v-for="item in searchResults" class="result">
                    <a href="#" @click="Lookup(item, $event)" class="reference">
                        <span class="referenceText">{{ item.title }}</span>
                        <span class="referenceNumbers"><!-- comments stand for css "white-space-collapse: discard;"
                            --><span class="referenceAct"><!--
                                -->{{ item.act }}<!-- https://stackoverflow.com/questions/2628050/ignore-whitespace-in-html
                            --></span><span class="referenceScene"><!--
                                -->{{ item.scene }}<!--
                            --></span><span class="referenceRow"><!--
                                -->{{ item.row }}<!--
                            --></span><!--
                        --></span>
                    </a>
                    <div class="textContent">{{ item.text }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .searchQuery {
        font-weight: bold;
    }
    .resultsContainer {
        display: flex;
        flex-flow: column nowrap;
    }
    .resultsLength {
        font-weight: bold;
    }
    .result {
        margin-bottom: 1rem;
    }
    .referenceText {
        font-style: italic;
    }
    /* style: https://drmarkwomack.com/mla-style/how-to-quote/quote-shakespeare/ */
    .referenceNumbers::before {
        content: '(';
    }
    .referenceNumbers::after {
        content: '):';
    }
    .referenceAct::after, .referenceScene::after {
        content: '.';
    }
    .textContent {
        padding-left: 1rem;
    }
</style>

<script>
    export default {
        props: ['searchQuery'],
        data() {
            return {
                resultsHaveCome: false,
                searchResults: [],
            };
        },
        watch: {
            searchQuery(newVal) {
                this.RefreshSearchResults(newVal);
            }
        },
        created() {
            this.RefreshSearchResults(this.searchQuery);
        },
        methods: {
            RefreshSearchResults(q) {
                axios.get('/api/Search/' + q)
                .then((response) => {
                    this.searchResults = response.data;
                    this.resultsHaveCome = true;
                })
                .catch((error) => {
                    console.error(error);
                });
            },
            Lookup(item, e) {
                axios.get('/api/TextUnits/' + item.text_id)
                    .then(response => {
                        this.$emit('lookup', {
                            locus: {
                                text_id: item.text_id,
                                act: item.act,
                                scene: item.scene
                            },
                            textTitle: item.title,
                            textUnits: response.data
                        });
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
                e.preventDefault();
                e.stopPropagation();
            }
        }
    }
</script>
