<template>
    <div id="dunakeszi" class="p-4">
        <div class="man" v-html="man"></div>
    </div>
</template>

<style>
    .man {
        text-align: justify;
        margin-bottom: 1rem;
    }
</style>

<script>
    export default {
        props: [],
        data() {
            return {
                man: 'Az Olvasó használata: a fenti vezérlőpanelen válassza ki az olvasni kívánt művet, a felvonást és a színt, majd nyomja meg a „megtekintés” (&#128065;) gombot! Egy szóra, kifejezésre rákereshet a ke&shy;re&shy;ső&shy;me&shy;ző segítségével. A szövegekben te&shy;le&shy;fo&shy;non jobbra-balra csúsztatással, bil&shy;len&shy;tyű&shy;ze&shy;ten jobbra-balra nyilakkal lapozhat, vagy a szöveg jobb felső sarkában megjelenő navigációs linkekre kattintva.'
            };
        }
    }
</script>
